.custom-image-intro{
    max-width: 100%;
    max-height: 450px;
}

.custom-button{
    margin-top: 1rem;
}

.custom-text-intro{
    max-width: 500px;
}

.animate__animate__fadeIn{
    --animate-delay: 2s;
  }