.custom-main-container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.custom-main-container h1 {
  font-size: 3.5rem;
}
.custom-main-container h2 {
  font-size: 2.5rem;
}
.custom-main-container h3 {
  font-size: 1.8rem;
}
.custom-main-container h4 {
  font-size: 1.2rem;
}
.custom-main-container h5 {
  font-size: 1rem;
  /* font-weight: 500; */
}
.custom-main-container h6 {
  font-size: 1rem;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.custom-column{
  padding-top: 20px;
  padding-bottom: 20px;
}

.custom-border{
  border-bottom: 2px solid var(--segundary-color);
  width: 30%;
}

.custom-buffer-large{
  height: 5rem;
}
.custom-buffer-medium{
  height: 3.5rem;
}
.custom-buffer-small{
  height: 1.5rem;
}

.btn-primary{
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--white-color);
  --bs-btn-active-bg: var(--segundary-color);
  --bs-btn-active-border-color: var(--segundary-color);
}
.btn-primary:hover {
  background-color: var(--segundary-color);
  border-color: var(--segundary-color);
  color: var(--white-color);
}


@media (min-width: 1200px){
  .custom-main-container{
      left: var(--sibebar-width);
      position: absolute;
      width: calc(100% - var(--sibebar-width));
  }

  /* .custom-main-container h1 {
    font-size: 3rem;
  }
  .custom-main-container h2 {
    font-size: 2.5rem;
  }
  .custom-main-container h3 {
    font-size: 2rem;
  } */
}

@media (max-width: 992px){
  .custom-main-container h1 {
    font-size: 2.6rem;
  }
  .custom-main-container h2 {
    font-size: 2.2rem;
  }
  .custom-main-container h3 {
    font-size: 1.8rem;
  }
  .custom-main-container h4 {
    font-size: 1.2rem;
  }
}


/* ANIMATIONS CLASSES */
.anim-bounce {
  animation-duration: 0.25s;
  animation-iteration-count: 2;
  transform-origin: bottom;
}
.anim-bounce:hover {
  animation-name: bounce;
  animation-timing-function: ease;
}
@keyframes bounce {
0%   { transform: translateY(0); }
50%  { transform: translateY(-10px); }
100% { transform: translateY(0); }
}

.anim-grow {
  transition: all .2s ease-in-out;
}
.anim-grow:hover {
  transform: scale(1.10);
}


.anim-rotate {
  animation-duration: 0.25s;
  animation-iteration-count: 2;
  transform-origin: center;
}
.anim-rotate:hover {
  animation-name: rotate;
  animation-timing-function: ease;
}
@keyframes rotate {
0%   { transform: rotateZ(0); }
25%  { transform: rotateZ(-5deg); }
75%  { transform: rotateZ(5deg); }
100% { transform: rotateZ(0); }
}

