 
  /* .custom-fixed-left-header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    z-index: 100;
  }

  .custom-flex-column{
    display: flex;
    flex-direction: column;
  }
  
  .custom-brand{
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 0;
  }

  .navbar-expand-md .navbar-nav {
      flex-direction: column;
  }

  .offcanvas{
    background-color: black;
    color: rgba(255, 255, 255, 0.55);
  }

  .btn-close{
    background: white url(data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23000%27%3e%3cpath d=%27M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z%27/%3e%3c/svg%3e) center/1em auto no-repeat
  }

  .navbar-toggler{
    border: none;
  }

  .navbar-toggler:focus {
    box-shadow: 0 0 0;
    }   
  
  @media (max-width: 768px) {
    .custom-fixed-left-header {

        position: inherit;
        width: inherit;
        z-index: inherit;
    }

    .custom-flex-column{
        display: flex;
        flex-direction: row;
    }

    .custom-header{
        display: flex;
        flex-direction: row;
        padding-left: 0;
        padding-right: 0;
        margin: 0 auto;
        width: 100%;
    }

    .custom-brand{
        padding-top: inherit;
        padding-bottom: inherit;
        margin: inherit;
      }

    .custom-list{
        display: flex;
        flex-direction: column;
    }

    .offcanvas{
        padding: 2rem;
    }
  }
   */