.custom-bg-carousel{
    /* height: 400px; */
    max-height : 550px;
    /* background-color: var( --segundary-bg-color); */
}

.custom-logo-carousel{
    max-height: 125px;
}

.custom-image-carousel{
    max-height: 450px;
}