.custom-bg-carousel{
    height: 400px;
    /* background-color: var( --segundary-bg-color); */
}

.custom-logo-carousel{
    max-height: 125px;
}

.custom-image-carousel{
    max-height: 300px;
}